* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@font-face {
    font-family: TinyHand;
    src: url("../font/BFTinyHand-Regular.otf");
}

html,
body {
  background: #F9BEBD !important;
  color: #383434 !important;
  height: 100%;
  min-height: 1vh;
}
/*
img { vertical-align: top; }
img.scale { width: 100%; }*/

/* Sidebar */
.sidebar {
  /*background: #333;*/
  height: 100vh;
  padding-top: 20px;
  width: 80px;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  width: 200px;
	position: relative;
  left: 100px
}

#top-spacer {
	height: 100px;
}

/* Render Animation */

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.rapContainer {
  cursor: pointer;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.rapArtist {
  padding-top: 10px;
    /*font-family: 'Rubik', sans-serif;*/
  font-family: 'Covered By Your Grace', cursive;
}

.rapLyric {
  font-family: 'TinyHand'
  /*font-family: 'Rubik', sans-serif;*/
}

.rapImage{
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 400px;
}

h1 {
  font-size: 2vw;
  line-height: .8;
  margin: 0;
  font-weight: normal;
}

.fa-twitter {
  font-size: 2vw !important;
}
