* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
*::selection {
  background-color: rgb(0,240,180);
  color: #fff;
}

@font-face {
    font-family: TinyHand;
    src: url("../font/BFTinyHand-Regular.otf");
}

html,
body {
  /*background-image: linear-gradient(205deg,rgba(235,103,105,1),#F9BEBD);*/
  /*background-image: linear-gradient(205deg,rgba(255,166,166,1),rgba(255,151,151,1));*/
  /*background-image: linear-gradient(205deg,rgba(235,103,105,1),rgba(255,54,93,1));*/
  /*background-image: linear-gradient(205deg,rgba(255,54,93,1),rgb(67,0,130));*/
  /*background-image: linear-gradient(120deg,rgba(235,103,105,1),rgb(80,0,180));*/
  /*background: rgb(235,103,105) !important;*/
  /*background: #F9BEBD !important;*/
  background: rgba(70,70,70,1) !important;
  background-color: #000;
/*background: linear-gradient(63deg, #32404c 0%, #32404c 46%, #746f85 46%, #746f85 50.5%, #9c708c 50.5%, #9c708c 55%, #a4657a 55%, #a4657a 59.5%, #cc7484 59.5%, #cc7484 64%, #b4695e 64%, #b4695e 71%, #ce7966 71%, #ce7966 100%);*/
  /*background-image: -webkit-linear-gradient(30deg, #000 50%, #ff6766 50%);*/
  color: #ffffff !important;
  height: 100%;
  min-height: 1vh;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
    /*background-color: #606060;*/
}

::-webkit-scrollbar-track {
  background-color: transparent;
    /*background-color: #2d2d2d;
    border-left: 1px solid #2d2d2d;*/
}

/*.container {
  display: flex;
  padding-top: 48px;
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;
}*/

/*
img { vertical-align: top; }
img.scale { width: 100%; }*/

/* Sidebar */
.sidebar {
  background: transparent;
  height: 100vh;
  padding-top: 20px;
  width: 80px;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebarBottom {
  position: absolute;
  bottom: 10px;
  width: 30px;
  left: 22px;
  height: 100px;
  padding: 5px;
}

.logo {
  top: -10px;
  width: 200px;
	position: relative;
  left: 8px;
  /*image-rendering: auto;*/
}

#top-spacer {
	height: 100px;
}

/* Render Animation */

.example-enter {
  /*opacity: 0.01;*/
}

.example-enter.example-enter-active {
  -webkit-animation: bounceIn 0.4s;
  animation: bounceIn 0.4s;

  transition: bounceIn 500ms ease-in;
}

.example-leave {
  opacity: 0.01;
}

.example-leave.example-leave-active {
  /*-webkit-transform: scale(1);
transform: scale(1);*/
  -webkit-animation: fadeOut 0.4s;
  animation: fadeOut 0.4s;
  opacity: 0.01;
  transition: fadeOut 300ms ease-in;
}
.polaroid {
  flex: 0 1 300px;
  margin: 0px;
  padding: 20px;
  text-align: center;
  overflow: hidden;
  background-color: rgba(206,186,198,1);
  /*background-color: #fafafa;*/
  /*border: 1em solid #fafafa;*/
  border-radius: 4px;
  box-shadow: 0px 2px 9px -3px rgba(0,0,0,0.25), 0px 1px 3px -1px rgba(0,0,0,0.25);
  background-image: linear-gradient(-45deg, white 25%, transparent 25%, transparent 50%, white 50%, white 75%, transparent 75%, transparent);
  background-size: 2px 2px;
  animation: flipInX 1s;
  z-index: 2;
}

.polaroidPhoto {
  cursor: pointer;
  /*padding: 10px;*/
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  overflow: hidden;
  border-radius: 4px;
  background-image: linear-gradient(
		to bottom,
    #F9BEBD,
		rgba(245,245,245,1)
	);
  /*background-color: rgba(226,222,219,1);*/
  box-shadow: inset 0px 1px 5px -2px rgba(0,0,0,0.75);
}

.rapImage:hover {
  animation: float 3s infinite;
  image-rendering: auto;
  -webkit-animation: float 3s infinite;
  -moz-animation: float 3s infinite;
  -o-animation: float 3s infinite;
}

@keyframes float {
 0%, 25%, 50%, 75%, 100% {transform: translateY(20px);}
 25% {-webkit-transform: translateY(30px);}
 50% {-webkit-transform: translateY(20px);}
 75% {-webkit-transform: translateY(30px);}
 100% {-webkit-transform: translateY(20px);}
}

.LoadingContainer {
  margin-top: 100px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.LoadingIcon {
  width: 30%;
  animation: float 3s, fadeOut 3.5s infinite;
}
.loader{
  display:block;
  position:absolute;
}

.rapContainer {
  margin-top: 80px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.rapArtist {
  padding-top: 10px;
  font-family: 'TinyHand';
  color: #000;
    /*font-family: 'Rubik', sans-serif;*/
  /*font-family: 'Covered By Your Grace', cursive;*/
}

.rapLyric {
  cursor: text;
  /*font-family: 'Open Sans', sans-serif !important;*/
  /*font-family: "museo-sans-rounded" !important;*/
  font-family: 'Economica', sans-serif !important;
  /*font-family: 'Nunito', sans-serif !important;*/
  /*font-family: 'Nixie One', cursive !important;*/
  /*font-family: Helvetica Neue,Helvetica,sans-serif;*/
  display: block;
  position: relative;
  /*top: 50%;*/
  margin-left: 50px;
  bottom: auto;
  /*color: rgba(250,188,171,1);*/
  color: rgba(250,215,123,1);
  animation: slideInLeft 1s, fadeIn 2s;
  /*transform: translateY(-50%);*/
}

.quote:before {
  font-family: Oswald;
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;;
  left: -30px;
  top: -20px;
  color: #fff;
}

.quote:after {
  font-family: Oswald;
  display: block;
  content: "\201D";
  font-size: 80px;
  position: absolute;
  right: -20px;
  bottom: -30px;
  color: #fff;
}

.rapImage{
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 400px;
}

h1 {
  font-size: 2vw !important;
  line-height: .8;
  margin: 0;
  font-weight: normal;
}

h2 {
  font-size: 3vw !important;
}

.fa-instagram {
  padding: 5px;
  font-size: 2vw !important;
}

.fa-instagram:hover {
  font-size: 2vw !important;
  animation: rubberDisco 1s infinite;
  cursor: pointer;
}

.fa-twitter {
  color: #fff !important;
  padding: 5px;
  font-size: 2vw !important;
}
.fa-twitter:hover {
  font-size: 2vw !important;
  animation: rubberDisco 1s infinite;
  cursor: pointer;
}

@keyframes rubberDisco {
  0% {
    color: rgb(236,209,202);
    transform: scale(1);
  }
  20% {
    color: rgb(169,216,200);
    transform: scaleX(1.25) scaleY(0.75);
  }
  40% {
    color: rgb(157,218,158);
     transform: scaleX(0.75) scaleY(1.25);;
  }
  60% {
    color: rgb(127,170,208);
     transform: scaleX(1.15) scaleY(0.85);
  }
  80% {
    color: rgb(198,205,247);
  }
  100% {
    color: rgb(236,209,202);
    transform: scale(1);
  }
}

.RapTimeline {
  font-family: 'Economica', sans-serif;
}
.RapTimelineContent {
  /*padding-top: 50px;*/
  text-align: left !important;
  /*font-family: 'Economica', sans-serif !important;*/
   font-family: "ocr-b-std",sans-serif !important;
  /*font-family: 'Nunito', sans-serif !important;*/
  /*font-family: "museo-sans-rounded" !important;*/
  font-size: 14px !important;
  height: 100%;
  animation: slideInRight 1s, fadeIn 2s;
  margin-bottom: 20px;
}

.RapContent {
  max-height: 480px;
}

.highlight {
  text-align: left !important;
  overflow: hidden;
  display: inline-block;
  position: relative;
}
.highlight:before {
  content: "";
  position: absolute;
  background-color: rgba(250,215,123,1);
  height: 100%;
  width: 100%;
  z-index: -1;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-animation-timing-function: cubic-bezier(0.77, 0, 0.175, 0.5);
          animation-timing-function: cubic-bezier(0.77, 0, 0.175, 0.5);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: inherit;
          animation-delay: inherit;
}
.hl:before {
  content: "";
  position: absolute;
  background-color: rgba(250,215,123,1);
  -webkit-animation-name: highlight;
          animation-name: highlight;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@-webkit-keyframes highlight {
  from {
    width: 0%;
  }
}
@keyframes highlight {
  from {
    width: 0%;
  }
}

.highlight2 {
  text-align: left !important;
  overflow: hidden;
  display: inline-block;
  position: relative;
}

.timelineCategory {
  font-family: 'Economica', sans-serif !important;
  color: rgba(250,215,123,1);
}
